<footer class="site-footer">

  <div class="wrapper">

    <p class="footer-heading">
      <a href="https://www.codewars.com/users/Beast" target="_blank" rel="noopener">
        <img src="https://www.codewars.com/users/Beast/badges/large" alt="Codewars Beast">
      </a>
    </p>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li></li>
          <li></li>
        </ul>
        <div id="chart_div_developer_name"></div>
        <div id="chart_div_all"></div>

        <h2>Categories</h2>
        <ul>
          {% assign categories_list = site.categories %}
          {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
              <li><a href="/category/{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
            {% endfor %}
          {% else %}
            {% for category in categories_list %}
              <li><a href="/category/{{ category[0] }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
            {% endfor %}
          {% endif %}
          {% assign categories_list = nil %}
        </ul>
        <a id="theend"></a>
      </div>

      <div class="footer-col footer-col-2">
        <p>In the middle :clock12: of the night <strong>The Beast</strong> lurks out there in cyberspace
          wielding his <strong>XSL</strong> tipped <strong>lightsaber</strong> that was forged with a super hardened blend of <strong>PHP, Ruby,
          Javascript and Python</strong>.  For <strong>The Beast</strong> had been <a href="https://www.google.com.au/search?q=kung+fu+rigorous+training+images&espv=2&biw=1538&bih=1503&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwjc7JfYjvXPAhXJmpQKHeC8BncQsAQIGg#tbm=isch&q=kung+fu+hard+training+images" target="_blank" rel="noopener">rigourously trained</a>
          in childhood on the <a href="https://en.wikipedia.org/wiki/Atari" target="_blank" rel="noopener">Atari</a>
          and <a href="https://www.google.com.au/search?q=hard+strength+conditioning+images&espv=2&biw=1538&bih=1503&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwix3LGAj_XPAhWCOJQKHWCtD3kQsAQIGg#tbm=isch&q=hard+strength+training+images" target="_blank" rel="noopener">conditioned</a>
          on the likes of the <a href="https://en.wikipedia.org/wiki/Commodore_VIC-20" target="_blank" rel="noopener">VIC-20</a>
          and the <a href="https://en.wikipedia.org/wiki/IBM_Personal_Computer_XT" target="_blank" rel="noopener">XT</a>.
          <strong>Decades</strong> now have passed :warning::warning::warning:
          <strong>Enter The Beast</strong> :boom::boom::boom::exclamation::exclamation:
        </p>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
        <p>{{ site.last_update }}{{ site.time }}</p>
        <p>
          <a href="http://info.flagcounter.com/bG4O" target="_blank" rel="noopener">
            <img src="http://s09.flagcounter.com/countxl/bG4O/bg_fffa00/txt_000000/border_000000/columns_3/maxflags_100/viewers_0/labels_0/pageviews_1/flags_0/percent_0/"
                 alt="Flag Counter">
          </a>
        </p>
        <p>
          <span class="typer" id="typer-id" data-delay="100" data-delim=":" data-colors="black"
                data-words="The Beast...?!?!?!!:Beauty and The Beast...?!?!!!!:The Beast 300+ Style...!!!!!!:The Beast T-721 - Prototype Series 721 Terminator - a shapeshifting Ruby assassin...!!!:A Powerful Beast...!!!!!:Bring out The Beast...!!!!!:A truly magical and wondrous Beast...!!!!:Enter The Beast...!!?!?!!:The Beast sometimes enjoys Friday Night Football...?!?!?!?!!:The Beast is being trained by an even MORE POWERFUL Father Beast...!!!!!:The Beast a Jedi in training...!!!!:Jekyll, kramdown, Git, Homebrew, PHP, Ruby, Python, Subversion, JavaScript - The Real Beast...!!!:The Beast wants to be the MOST POWERFUL BEAST...!!!!"></span>
          <span class="cursor" data-owner="typer-id"></span>
        </p>
      </div>
    </div>

  </div>

</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110141986-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110141986-1');
</script>

