<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartDeveloperName);
      google.charts.setOnLoadCallback(drawChartAll);
      function drawChartDeveloperName() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Developer Name');
        data.addColumn('number', 'Commits');
        data.addRows([["Developer 1", 236], ["Developer 2", 248], ["The Beast", 983]]);
        // Set chart options
        var options = {'title': 'Tuesday 25th October: Whole repository count of commits grouped by developer name',
                       is3D: true,
                       'width': 400,
                       'height': 330,
                       'titleTextStyle': { 'color': 'black' } };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div_developer_name'));
        chart.draw(data, options);
      }
      function drawChartAll() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'File type');
        data.addColumn('number', 'Counts');
        data.addRows([["folders", 393], [".xsl", 894], [".pdf", 460], [".xml", 542], [".xsd", 1116], [".html", 61], [".rb", 26], [".zip", 6], [".mp4", 3], [".bat", 16], [".js-master", 3], [".json", 9], [".js", 34], [".md", 33], [".txt", 29], [".png", 27], [".csv", 15], [".xquery", 12], [".fo", 4], [".docx", 124], [".xlsx", 19], [".xpr", 3], [".msi", 4], [".006", 3], [".config", 6], [".exe", 2], [".manifest", 2], [".vbproj", 4], [".user", 4], [".vb", 24], [".resx", 6], [".myapp", 4], [".settings", 4], [".sln", 2], [".suo", 2], [".css", 4], [".map", 4], [".eot", 1], [".svg", 1], [".ttf", 1], [".woff", 1], [".woff2", 1], [".log", 1]]);
        var options = {'title': 'Tuesday 25th October: Whole repository count of files grouped by file type',
                       is3D: true,
                       'width': 400,
                       'height': 330,
                       'titleTextStyle': { 'color': 'black' } };
        var chart = new google.visualization.PieChart(document.getElementById('chart_div_all'));
        chart.draw(data, options);
      }
  </script>
</head>
